<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Bots</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/global.css">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">DMDASSC</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/projetos">Projetos</a>
          <a class="nav-item nav-link" href="/chat">Chat</a>
          <a class="nav-item nav-link" href="/jogos">Jogos</a>
          <a class="nav-item nav-link active" href="/bots">Bots</a>
          <a class="nav-item nav-link" href="/tf2">TF2</a>
          <a class="nav-item nav-link" href="/contato">Contato</a>
        </div>
      </div>
    </nav>

    <div class="content">
      <div class="title">BOTS > Steam</div>
      <div class="content">
        <div>Status: <b id="status">?</b></div>

        <form class="form-inline" style="margin-top: 15px" action="/bots/steam/code" method="post">
          <button class="btn btn-outline-dark" type="submit">Get Token</button>
          <input class="form-control" type="password" placeholder="Senha" name="password">
        </form>
      </div>

    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <script src="/assets/js/socket.io.js"></script>
    <script src="/assets/js/steambot.js"></script>
  </body>
</html>
