<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Bots</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/global.css">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">DMDASSC</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/projetos">Projetos</a>
          <a class="nav-item nav-link" href="/jogos">Jogos</a>
          <a class="nav-item nav-link active" href="/bots">Bots</a>
          <a class="nav-item nav-link" href="/tf2">TF2</a>
          <a class="nav-item nav-link" href="/contato">Contato</a>
        </div>
      </div>
    </nav>

    <div class="content">
      <div class="title">BOTS > Twitch</div>
      <div class="content">
        <span>Ta rodando em <a href="https://www.twitch.tv/danilom1301">https://www.twitch.tv/danilom1301</a>, é só esperar uns 10-40 segundos...</span>
        <div id="data" style="margin-top: 15px;"></div>
      </div>
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <script src="/assets/js/socket.io.js"></script>
    <script src="/assets/js/twitchbot.js"></script>
  </body>
</html>
